.avscPlayBackPanel {
    color: #CFCFCF;
    font-size: 13px;
    z-index: 999999;
    position: absolute;
    left: 35px;
    top: calc(50% - 28px);
    display: inline;
    width: 10px;
    height: auto;
}

.avscPlayBackPanel.avscPlayBackPanelFullScreen {
    top: 1px;
    width: 90px;
    height: 20px;
}

.avscBtn {
    background: rgba(255, 255, 255, 0.5);
    padding: 2px 4px 3px 4px;
    text-decoration: none;
    font-size: 13px;
    border: 0;
    line-height: 20px;
}

.avscBtn:hover {
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.avscBtn:focus {
    outline: 0;
}

.avscBtn-speed {
    float: right;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    width: 45px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    line-height: 18px;
    border: thin solid rgba(255, 255, 255, 0.5);
    padding: 0;
    word-wrap: break-word;
}

.avscBtn-speed::before {
    content: "Video Speed: ";
}
